@model IEnumerable<OrderToFood.Models.RestaurantReviewViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>@ViewBag.Message</h2>
</div>
@*Implemented Ajax*@

@*Ajax.Begin form is similar to HTML.BeginForm but fires a async request wherewas html makes a sync request to the server*@

@*@using (Ajax.BeginForm
                                (new AjaxOptions
                                {
                                    HttpMethod = "get",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "restaurantlist"
                                }))
    {
        <input type="search" name="searchTerm" />
        <input type="submit" value="Search by Name" />
    }*@


@*Try using our own java qcript*@

<form method="get" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#restaurantlist">
    <input type="search" name="SearchTerm" />
    <input type="submit" value="Search by Name" />

</form>

@*<form method="get">
        <input type="search" name="SearchTerm" />
        <input type="submit" value="Search by Name" />
    </form>*@
<div class="restaurantlist">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewsCount)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            @Html.Partial("_ResultsPartial", item)
        }

    </table>
</div>

@*Sample code generated*@
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>



    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
